:root {
    --primary-color: #4da8ff; 
    --secondary-color: #ffffff; 
    --blue-light: #4da8ff;
    --z-tooltip: 10;
    --z-fixed: 100;
    --first-color: hsl(228, 85%, 63%);
    --title-color: hsl(228, 18%, 16%);
    --text-color: hsl(228, 8%, 56%);
    --text-table: #5a5c69;
    --body-color: hsl(228, 100%, 99%);
    --header-height: 3.5rem;
    --shadow-color: hsla(228, 80%, 4%, .1);
    --body-font: "Nunito Sans", system-ui;
    --normal-font-size: .938rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .75rem;
    --font-regular: 400;
    --font-semi-bold: 600;
    --theme-background: #ffffff;
    --input-theme: #f0f0f0; /* Ajustado para claro no tema claro */
    --input-border-color: #ccc;
    --input-text-color: #333; /* Texto escuro no tema claro */
    --input-placeholder-color: #999;
}

@media screen and (min-width: 1150px) {
  :root {
    --normal-font-size: 1rem;
    --smaller-font-size: .813rem;
  }
}

body, #content-wrapper{
    font-family: var(--body-font)!important;
    font-size: var(--normal-font-size)!important;
    background-color: var(--body-color)!important;
    color: var(--text-color);
    transition: background-color .4s !important;
  }

  body.dark-theme, #content-wrapper.dark-theme {
    --first-color: hsl(228, 70%, 63%) !important;
    --title-color: hsl(228, 18%, 96%) !important;
    --text-color: hsl(228, 12%, 91%) !important;
    --text-table: hsl(228, 12%, 91%) !important;
    --body-color: #1B1E28;
    --shadow-color: hsla(228, 80%, 4%, .3) !important;
    --form-background: #232730; 
    --form-border-color: #4A4F5A;
    --form-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section-title:not(:first-of-type) {
    margin-top: 20px !important;
}

p, h5 {
    color: var(--text-table) !important;
}

form, .table-background {
    background-color: var(--form-background) !important;
    border: 1px solid var(--form-border-color) !important;
}

.table-theme {
    background-color: var(--theme-background)  !important; 
    color: var(--text-color)  !important;
}

.table-theme th {
    background-color: var(--body-color)  !important; 
    color: var(--title-table) !important;
}

.table-theme td {
    background-color: var(--body-color) !important; 
    color: var(--text-table) !important;
}

.table-theme tbody tr:hover {
    background-color: hsl(228, 24%, 20%); 
    cursor: pointer;
}

label {
    color: var(--text-table) !important;
}
.theme-background {
    background-color: var(--theme-background);
}
/* .input-theme {
    background-color: var(--input-theme) !important;
    color: var(--text-color) !important;
} */
.dark-theme .sidebar__content::-webkit-scrollbar {
    background-color: hsl(228, 16%, 30%);
}

.dark-theme .sidebar__content::-webkit-scrollbar-thumb {
    background-color: hsl(228, 16%, 40%);
}

.btn-blue-light {
    color: #fff !important;
    background-color: var(--primary-color) !important;
    margin-left: 5px;
}
  
.btn-blue-light:hover,
.btn-blue-light:focus {
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
    border-color: var(--primary-color) !important;
    opacity: 0.9; /* Reduz a opacidade da cor no hover */
}

.sidebar-divider {
    background-color: var(--secondary-color);  
}

.bg-blue-light {
    background-color: var(--primary-color);
}

.bg-pages-blue-light {
    background-color: #4da8ff;
}

.font-color-blue-light {
    color: var(--primary-color);
}


.open-sidebar {
    visibility: hidden;
}

.transition-all {
    transition: all 0.3s ease-in-out;
}

.mobile {
    display: flex!important;
}

hr {
    background-color: #333;
}

.form-control {
    color: #333!important
}
.input-group {
    position: relative;
}

.input-group-text {
    background: transparent;
    border: none;
    cursor: pointer;
}

.table-theme td {
    white-space: nowrap; /* Impede quebra de linha */
    overflow: hidden; /* Esconde texto que ultrapassar o limite */
    text-overflow: ellipsis; /* Adiciona "..." no texto grande */
    max-width: 150px; /* Define um limite máximo de largura */
}

.table-theme th {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
}

.table-theme td:hover {
    white-space: normal; /* Permite quebra de linha ao passar o mouse */
    overflow: visible;
    max-width: none;
    word-break: break-word; /* Quebra palavras muito grandes */
}

.section-border {
    position: relative;
    margin: 10px 0;
    padding-bottom: 5px;
    display: inline-block; /* Faz o h5 se ajustar ao conteúdo */
}

.section-border::after {
    content: "";
    display: block;
    width: 75%; /* Define a largura da borda */
    height: 3px;
    background-color: var(--primary-color);
    position: absolute;
    margin-top: 5px;
    bottom: -3px;
    left: 0; /* Centraliza a borda */
}

@media (max-width: 767px) {
    .open-sidebar{
        visibility: visible;
    }

    .option-sidebar {
        display: none!important;
    }

    .mobile {
        display: none!important;
    }
}